.auth-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0rem 3rem;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-main);
  border-radius: 2rem;
  box-sizing: border-box;
  row-gap: 1rem;
  position: relative;
  box-shadow: 0px 0px 4px #d6d6d6;
}
.auth-logo {
  width: 8rem;
  position: absolute;
  right: 2rem;
    top: 1.5rem;
}
.auth-content {
  padding-top: 8rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  row-gap:3rem;
}
.auth-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.auth-header h2 {
  font-size: 2.5rem;
  font-weight: 600;
}
.auth-header h4 {
  padding-top:0.5rem;
  color: var(--text-muted);
  font-size: 1.125rem;
  font-weight: 500;
  text-align: center;
}
.auth-form-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}
.auth-form-item p{
  font-size: 0.75rem;
}
.auth-form-item input {
  width: 100%;
  box-sizing: border-box;
  height: 2.5rem;
  border-radius: 0.5rem;
  padding: 0 1rem;
  outline: none;
  font-family: monospace;
  border: 1px solid var(--border-main);
  background-color: var(--bg-secondary);
  color: var(--text-primary);
}
.auth-form-wrapper button {
  height: 2.5rem;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.1s ease;
  background-color: var(--accent-main);
  color: white;
}
.auth-form-wrapper button:disabled {
  color: var(--bg-tertiary);
  background-color: var(--accent-main-muted);
  cursor:auto;
}
.auth-form-wrapper button:disabled:hover {
  box-shadow: none;
}
.line {
  width: 100%;
  margin: 1rem 0;
  border-top: 1px solid var(--border-main);
  border-bottom: none;
}