.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  border-bottom: 1px solid var(--text-muted);
}
.logo{
  width: 7.5rem;
  height: 7.5rem;
}
.header-right{
  display: flex;
  column-gap: 0.5rem;
}
.header-right button{
  width: 10.5rem;
  padding: 0.625rem 0;
  border-radius: 0.625rem;

}
.login-button{
  border:none;
  font-weight: 600;
  color:var(--bg-primary);
  border:1px solid rgba(255, 255, 255, 0.753);
}
.login-button:hover{
    box-shadow: 0px 0px 10px rgb(126, 126, 126);

}
.signup-button{
  border:2px solid var(--text-primary);
  background-color: transparent;
  color: var(--text-primary);
  font-weight: 1000;
}
.signup-button:hover{
  background-color: rgba(255, 255, 255, 0.2);
}