.signup-wrapper{
  width: 28rem;
}
.no-account-message {
  width: 100%;
  color: var(--text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.has-account-message p {
  text-align: center;
  font-size: 0.875rem;
}
.has-account-message span {
  font-weight: 600;
  cursor: pointer;
  color: var(--accent-main);
}
