<div class="transaction-summary-wrapper">
    <div class="transaction-summary">
      <div class="summary-icon-wrapper">
        <ion-icon name="bar-chart-outline"></ion-icon>
      </div>
      <div class="summary-content">
        <h4>Total transactions</h4>
        <h3>98</h3>
      </div>
    </div>
    <div class="transaction-summary">
      <div class="summary-icon-wrapper">
        <ion-icon name="card-outline"></ion-icon>
      </div>
      <div class="summary-content">
        <h4>Sold</h4>
        <h3>$12.14M</h3>
      </div>
    </div>
    <div class="transaction-summary">
      <div class="summary-icon-wrapper">
        <ion-icon name="pricetag-outline"></ion-icon>
      </div>
      <div class="summary-content">
        <h4>Bought</h4>
        <h3>$5.22M</h3>
      </div>
    </div>
    <div class="transaction-summary">
      <div class="summary-icon-wrapper">
        <ion-icon name="cash-outline"></ion-icon>
      </div>
      <div class="summary-content">
        <h4>Current Profit</h4>
        <h3>$7.21M</h3>
      </div>
    </div>
  </div>