.transaction-summary-wrapper{
  display: flex;
  column-gap: 1rem;
}
.transaction-summary{
  min-width: 20rem;
  display: flex;
  column-gap: 1.5rem;
  background-color: var(--bg-tertiary);
  width: max-content;
  padding:1rem;
  border-radius: 1rem;
  border: 1px solid var(--text-muted);
  padding-right: 2.5rem;
}
.summary-icon-wrapper{
  padding:0.5rem;
  width: 2.5rem;
  height:2.5rem;
  background-color: var(--bg-primary);
  border:1px solid var(--text-muted);
  border-radius: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.summary-icon-wrapper ion-icon{
  color: var(--text-primary);
  font-size: 1.5rem;
}
.summary-content h4{
  font-size: 1.375rem;
  color: var(--text-muted);

}
.summary-content h3{
  font-size: 2.25rem;
}