.sidebar-wrapper{
  display: flex;
  flex-direction: column;
  height: calc(98dvh - 126.5px);
  border-right: 1px solid var(--text-muted);
  width: 17.5rem;
  padding:2rem 0.75rem;
  row-gap: 1.5rem;
  box-sizing: border-box;
}
.sidebar-item{
  color:var(--text-primary);
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  column-gap: 0.75rem;
  padding:0.75rem;
  cursor: pointer;
}
.sidebar-item:hover{
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.625rem;
}
.sidebar-item.active{

}
.sidebar-item ion-icon{
  font-size: 2rem;
}