<div class="sidebar-wrapper">
  <div routerLink="/dashboard" class="sidebar-item">
    <ion-icon name="apps-outline"></ion-icon>
    <p>Dashboard</p>
  </div>
  <div routerLink="/assets" class="sidebar-item">
    <ion-icon name="airplane-outline"></ion-icon>
    <p>Assets</p>
  </div>
  <div routerLink="/market" class="sidebar-item">
    <ion-icon name="cash-outline"></ion-icon>
    <p>Market</p>
  </div>
  <div routerLink="/transactions" class="sidebar-item">
    <ion-icon name="pricetags-outline"></ion-icon>
    <p>Transactions</p>
  </div>
</div>
