.market-header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.market-header h2{
  font-size: 3rem;
}
.market-header h4{
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--text-muted);
}
.market-header-sort label{
  color:var(--text-primary);
  font-weight: 600;
}
.market-header-sort select{
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--text-primary);
}
.market-header-sort option{
  background-color: var(--bg-primary);
  color: var(--bg-background);
}
.market-content-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem;
}