.table-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}
.table-header h5 {
  font-size: 1.375rem;
}
.table-header button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  column-gap: 0.375rem;
  border: 1px solid var(--text-muted);
  background-color: var(--bg-tertiary);
  color: var(--text-primary);
  transition: all 0.25s ease;
  padding-right: 1.25rem;
}
.table-header button:hover {
  background-color: var(--bg-secondary);
}
.table-header button ion-icon {
  margin-top: 0.125rem;
}
.transaction-row {
  display: grid;
  grid-template-columns: 15px 1fr 17.5rem 17.5rem 17.5rem 17.5rem;
  column-gap: 4rem;
  padding: 1rem;
}
.first-row {
  background-color: var(--bg-secondary);
}
.transaction-row input {
  margin: 0;
}
.dropdown-menu-wrapper {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 3rem;
  right: 0;
  background-color: var(--bg-primary);
  width: 10rem;
  border: 1px solid var(--text-muted);
  display: flex;
  flex-direction: column;
  border-radius: 0.875rem;
  overflow: hidden;
}
.dropdown-menu p {
  padding: 1rem;
  border-bottom: 1px solid var(--text-muted);
  cursor: pointer;
}
.dropdown-menu p:hover{
  background-color: var(--bg-tertiary);
}
.dropdown-menu p:last-child {
  border: none;
}
