<div class="table-wrapper">
  <div class="table-header">
    <h5>Recent offers</h5>
    <div class="dropdown-menu-wrapper">
      <button (click)="toggleDropDown()">Filter<ion-icon name="chevron-down"></ion-icon></button>
      @if(dropdownVisible()){
      <div class="dropdown-menu">
        <p>Recent</p>
        <p>Bought</p>
        <p>Sold</p>
      </div>
      }
    </div>
  </div>
  <div>
    <div class="transaction-row first-row">
      <input type="checkbox" />
      <p>Name</p>
      <p>Class</p>
      <p>Status</p>
      <p>Price</p>
      <p>Date</p>
    </div>
    <div class="transaction-row">
      <input type="checkbox" />
      <p>F22 Raptor</p>
      <p>F22</p>
      <p>Bought</p>
      <p>$16M</p>
      <p>March 25, 2025</p>
    </div>
    <div class="transaction-row">
      <input type="checkbox" />
      <p>F22 Raptor</p>
      <p>F22</p>
      <p>Bought</p>
      <p>$16M</p>
      <p>March 25, 2025</p>
    </div>
    <div class="transaction-row">
      <input type="checkbox" />
      <p>F22 Raptor</p>
      <p>F22</p>
      <p>Bought</p>
      <p>$16M</p>
      <p>March 25, 2025</p>
    </div>
  </div>
</div>
