.table-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom:0.5rem;
}
.table-header h5 {
  font-size: 1.375rem;
}
.table-header button {
  display: flex;
  align-items: center;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  column-gap: 0.375rem;
  border: 1px solid var(--text-muted);
  background-color: var(--bg-tertiary);
  color: var(--text-primary);
  transition: all 0.25s ease;
  padding-right: 1.25rem;
}
.table-header button:hover {
  background-color: var(--bg-secondary);
}
.table-header button ion-icon {
  margin-top: 0.125rem;
}
.transaction-row {
  display: grid;
  grid-template-columns: 15px 1fr 17.5rem 17.5rem 17.5rem 17.5rem;
  column-gap: 4rem;
  padding: 1rem;
}
.first-row {
  background-color: var(--bg-secondary);
}
.transaction-row input {
  margin: 0;
}
