.asset-card-image{

}
.asset-card-image{
  width: 100%;
  border-radius: 1rem;
}
.asset-card-description{
  padding-top:0.75rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  color:var(--text-primary)
}
.asset-card-description h4{
  font-size: 1.5rem;
}
.asset-card-description h5{
  font-size: 1.125rem;
}
.asset-card-description span{
  color: var(--text-muted);
}