:root {
  --bg-primary: #f8fafc;
  --bg-secondary: #ffffff;
  --bg-tertiary: #f1f5f9;

  --text-primary: #333;
  --text-muted: #A8A8A8;

  --accent-main: #3272fc;
  --accent-main-muted: #79a2fc;
  --accent-good: #16a34a;
  --accent-warn: #f59e0b;
  --accent-bad: #dc2626;
  --border-main: #b6b6b6ee;
  --border-subtle: #e2e8f0;
  --card-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);

  --page-padding: 2.5rem 4rem;
}

html {
  font-family: "IBM Plex Mono";
}
body {
  background-color: var(--bg-primary);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--text-primary);
}
button {
  font-family: monospace;
  cursor: pointer;
}
.page-wrapper {
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.error-message {
  color: var(--accent-bad);
  font-size: 0.75rem;
}
