.dashboard-wrapper {
  display: flex;
  flex-direction: column;
  padding: var(--page-padding);
  row-gap: 2rem;
  height: 100%;
  box-sizing: border-box;
  flex: 1;
}
.dashboard-header h2 {
  font-size: 2.5rem;
}
.content-wrapper {
  display: flex;
  column-gap: 3rem;
  flex: 1;
}
.dashboard-item {
  background-color: var(--bg-tertiary);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0.625rem;
}
.dashboard-left-top {
  display: flex;
  column-gap: 1rem;
}
.balance,
.assets-owned,
.assets-listed {
  padding: 2rem;
  font-size: 2rem;
  min-width: 20rem;
}
.dashboard-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
.recent-activity {
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.recent-activity-header h4 {
  font-size: 1.5rem;
}
.purchase-image {
  max-width: max-content;
  max-height: 25rem;
  border-radius: 1rem;
}
.recent-activity-content {
  display: flex;
  column-gap: 2rem;
}
.recent-activity-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recent-activity-description-top {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.recent-activity-description h4 {
  font-size: 3rem;
}
.recent-activity-description p {
  font-size: 1.75rem;
}
.recent-activity-description span {
  color: var(--text-muted);
}
.dashboard-right {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  overflow: hidden;
}
.recent-transactions,
.recent-listed {
  background-color: var(--bg-tertiary);
  flex: 1;
  box-sizing: border-box;
}
.dashboard-right h4 {
  font-size: 1.25rem;
  width: 100%;
  border-bottom:1px solid var(--text-muted);
  padding:0.5rem 1rem;
  font-weight: 400;
}
.recent-listed-content{
  padding:1rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  padding-top:1.5rem;
}
.recent-listed-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.recent-listed-item-name{
  font-size: 1.25rem;
}
.recent-listed-item-date{
  color:var(--text-muted)
}
.recent-listed-item button{
  background-color: var(--text-primary);
  height: min-content;
  border:none;
  padding:0.5rem 1rem;
  border-radius: 999px;
  font-size: 0.875rem;
  font-weight: 500;
}
.recent-listed-item button:hover{
  box-shadow: 0px 0px 4px var(--text-primary);
}
